/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 2rem 0 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 1rem 2rem 2rem 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroImages {
  display: flex;
  flex-direction: row; /* Arrange images side-by-side */
  gap: 16px; /* Add spacing between images */
  margin-bottom: 2rem;
}

.heroImages img {
  flex-grow: 1;
  width: calc(50% - 8px);
}

@media (max-width: 768px) {
  .heroImages {
    flex-direction: column; /* Stack images vertically on smaller screens */
  }
  .heroImages img {
    width: 100%;
  }
}